.custBtn {
	position:absolute;
    bottom:0;
    margin-bottom:15px;
}
ul {
  list-style-type: none;
  display:flex;
  justify-content:space-around;
}

.basicFlex {
	display:flex;
  height:70px;
}
.rotateMe {
  padding-left:2px;
  transition:.25s;
  display: inline;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition:         transform .25s ease-in-out;
}

.flexHeaderMain {
  display: flex;
  height:90px;
  background-color: #000333;
}
.logoContainer {
  width:400px !important;
  font-size:22px;
  display:flex;
}
.otherHeaderRight {
  float:right;
  display: flex;
  justify-content: flex-end;
  width:calc(100% - 400px);
}
.flexHeaderMain div {
  color:white;
  line-height:90px;
  padding-left:20px;
  padding-right:20px;
  cursor:pointer;
  transition:.5s;
}

.middleMeMain {
  margin: auto;
  text-align:center;
  padding-top:100px;
  width:850px;
  color:white;
}
.middleMeFirst {
  font-size: 17px;
  justify-content: space-around;
  display:flex !important;
  cursor: pointer;
  transition:.5s;
}
.middleMeFirst div:hover {
  color:#3ca7b4;
  
}
.middleMeThird {
  padding-top:40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  letter-spacing:2px;
  text-align: center;
  font-size: 22px;
  width:450px;
}
.popContainerMain {
  height:600px;
  position:relative;
  background-color: white;
}
.flexMe {
  display: flex;
  background-color: #f3f4f5 !important;
  height:275px !important;
  align-items: flex-start !important;
  justify-content: center;
}
.svgTwo {
  /*margin-top:px;*/
}
.flexMeDOne {
  width:51%;
  padding-top:50px;
  font-size:50px;
  color:#333333;
  font-weight:bold;
  background-color:transparent;
}
.formatMe {
  width:400px;
  font-size:17px;
  color: #3e3e3e;
  height:60px !important;
  margin-bottom:5px !important;
  border-bottom:1px solid #b4b4b4;
}
.flexMeDOneMini {
  height:50px !important;
  margin:auto;
  display:block;
  width:350px;
  padding-left:25px;
  text-align:left;
}
.schedIcon {
  color:#FF4343;
  margin-left:5px;
  background-color:transparent;
  display:inline-block !important;
}

.centerRedButton {
  font-size:15px;
  top:0;
  display:flex !important;
  text-align:center !important;
  -webkit-align-items: center;
  justify-content:center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #FF4343;
  transition:.2s;
  margin-top:-150px;
  padding:16px;
  background-color:transparent;
  padding-left:25px;
  padding-right:25px;
  position:absolute;
}

.centerRedButton:hover {
  color:white;
  background-color:#FF4343;
}
.centerRedButton:hover .schedIcon{
  color:white;
}

.centerRedButtonContainer {
  position:relative;
}

.flexMeDTwo {
  padding-left:50px;
  width:49%;
  background-color:transparent;
}
.flexMeDTwoMini {
  height:70px !important;
  margin-bottom:15px;
  display:flex;
}
.redOrangeIcon {
  color:#FF4343;
  font-size:36px;
  margin-right: 12px;
}
.curved {
  background-color: white;
}
.curved div {
  height:250px;
  background-color: transparent;
}
.curved svg {
  display: block !important;
}
.centerMeNarrow {
  padding-top:10px;
  font-size:18px;
  text-align:center;
}
.secondMid {
  margin-bottom:10px;
  text-align:center;
  margin-top:100px;
}
.secondMidInner {
  width:740px;
  font-size:40px;
  letter-spacing:2px;
  font-weight:bold;
  margin:auto;
}
.secondMidInnerTwo {
  width:900px;
  padding-top:10px;
  font-size:40px;
  letter-spacing:2px;
  font-weight:bold;
  margin:auto; 
}
.middleMePopContainer {
  display: flex;
  justify-content: center;
}
.middleIcon {
  margin-top:25px;
  color:white !important;
  font-size:60px;
  border-radius: 50%;
  padding:30px;
  background-color:#3c52a1;
}
.middleMePop {
  height:260px;
  margin-left:17px;
  margin-right:17px;
  width: 26%;
  margin-top:-50px;
  display: flex;
  flex-direction:column;
  align-self: flex-end;
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.popTop {
  height:160px;
  text-align:center;
}
.popBottom {
  text-align: center;
  height:60px;
  padding-top:10px;
  padding-right:40px;
  padding-left:40px;
  font-size:23px;
  font-weight: bold;
  transition:.2s;
  cursor:pointer;
}

.popBottom:hover {
  color:#3ca7b4;
}
.one {
  border-bottom:9px solid #f06e35;
}
.three {
  border-bottom:9px solid #3ca7b4;
}
.two {
  border-bottom:9px solid #F0DF35;
}
.middleMeMainSecond {
  padding-top:50px;
  font-size: 64px;
}

.backMain {
  background :
    linear-gradient(
      rgba(13, 0, 73, 0.85), 
      rgba(55, 147, 159, 0.8)
    ),
  url("./images/MatrixBackground.png");
  height:600px;
  background-repeat: no-repeat;
  background-size: 1440px 810px;
}

.speakButton {
  padding:12px;
  width:210px;
  padding-left:15px;
  padding-right:15px;
  font-size:16px;
  color:white;
  border:none;
  line-height:none !important;
  background-color:#4bd1e1;
  transition:.2s;
  cursor: pointer;
  outline:none;
}
.speakButton:hover {
  background-color:#3ca7b4;
}
.speakButton button:focus { outline: none; }

.flexHeaderMain div:hover {
  color:#4bd1e1;

}
.otherHeaderRight div:hover .rotateMe {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  color:#4bd1e1;

}

.basicFlex div {
	width:50%;
  	height:70px;
    text-align:center;
    cursor:pointer;
}
.blueBack {
	background-color:#bcceff;
}
.yellowBack {
	background-color:#f8ffbc;
}
.mainDashboard {
	margin:0 auto;
}
.darken {
	position:fixed;
  	background-color: rgba(0,0,0,.7);
  	z-index:20;
    top:0;
    height:100vh;
  	width:100vw;
}
.loginMainDiv {
  	padding:20px;
	margin:0 auto;
  	width:500px;
  	height:300px;
  	background-color:white;
    border-radius:4px;
  	z-index:21;
    position: fixed;
    top: calc(50vh - (/* height */150px));
    left:  calc(50vw - (/* height */250px));
    /* bring your own prefixes */
}
.addForm {
	margin:0 auto;
  	border:1px solid lightgrey;
  	height:400px;
  	width:425px;
  	padding:15px;
    background-color:white;
    text-align:center;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.addForm input {
  	margin-left:5px;
	width:300px;
    height:20px;
    margin-bottom:20px;
}
.leaderboardUserMain {
  	display:flex;
	height:125px;
  	width:600px;
  	border:1px solid darkgrey;
  	margin:0 auto;
  	margin-bottom:30px;
}
.leaderboardUserMain img {
	height:125px;
  	width:auto;
}
.imgHoldDiv {
	width:175px;
  	backgroundcolor:red;
}
.remainder {
	width:425px;
}

.remainder div {
	display:block;
}
.nav {

}
.middleImageHolder {
	height: 100px;
  	width:100px;
    border-radius:50%;
  	margin:0 auto;
    text-align:center;
    border:1px solid black;
}
.middleImageHolder img{
	width:100px;
  	height:100px;
  	border-radius:50%;
}
.center {
	text-align:center;
}
body {
  background-color:#EEEEEE;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.flexMain {
    padding-top: 30px;
	margin:auto 0;
    text-align:center;
	justify-content:space-around;
    display:flex;
  	flex-direction:column;
  	flex-flow: row wrap;
    height:100%;
  	width:100%;
}
.centerPower {
	text-align:center;
  	position:absolute;
  	color:white;
  	font-size:24px;
  	
}
.flex {
	display:flex;
  	text-aligh:center;
  	align-items: center;
    justify-content: center;
  	height:100%;
}
.backAgainOne {
  	border: 4px solid #092f40;
	background-color:#092f40;
  	transition: font-size .59s, letter-spacing .59s;
  	color:white;
  	padding:10px;
    cursor:pointer;
}
.backAgainOne:hover {
	font-size:16px;
  	letter-spacing:2px;
  	background-color:#214353 !important;
 	border-color:#214353;
}
.backAgainTwo {
  	border: 4px solid #363946;
    cursor:pointer;
	background-color:#363946;
  	transition: font-size .59s, letter-spacing .59s;
  	color:white;
  	padding:10px;
}
.chosen {
	border:4px solid gold !important;
}
.chosen:hover {
	border:4px solid gold !important;
}
.backAgainTwo:hover {
	font-size:16px;
    letter-spacing:2px;
  	background-color:#4a4c58 !important;
  	border-color:#4a4c58;
}
.backOne {
  border: 4px solid #092f40;
	background-color:#092f40;
  	transition: font-size .59s, letter-spacing .59s;
  	color:white;
  	padding:10px;
    cursor:pointer;
}
.backOne:hover {
  	border:4px solid #6AB9EA;
	font-size:16px;
  	letter-spacing:2px;
  	background-color:#214353 !important;
}
.backTwo {
  	border: 4px solid #363946;
    cursor:pointer;
	background-color:#363946;
  	transition: font-size .59s, letter-spacing .59s;
  	color:white;
  	padding:10px;
}
.backTwo:hover {
  	border:4px solid #6AB9EA;
	font-size:16px;
    letter-spacing:2px;
  	background-color:#4a4c58 !important;
}
.flexed {
    align-self: center;
	width:50%;
  	max-height:100px;
  	height:100px;
    text-aligh:center;
  	text-aligh:center;
  	align-items: center;
    justify-content: center;
}
.flexItem {
  	
	min-width:550px;
  	max-width:550px;
  	height:140px;
  	margin-bottom:20px;
}
.container {
  padding:0 10x 10 10px;
  height:100%;
  margin:0 auto;
}